.table-wrapper {
    width: 100%;
}

.table-wraper .table {
    width: 100%;
    border-spacing: 0;
}

.table-wraper .table tr th,
.table-wraper .table tr td{
     text-align: left;
    text-transform: capitalize;
    padding: 15px 10px;
    cursor: pointer;
}

.table-wraper .table tr th{
    padding-top: 0;
}


@media(max-width: 1400px){
    .table{
        min-width: 1400px;
    }
}